@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,800";
@import "../static/fontawesome/fontawesome-all.min.css";
@import "notifications";
$color-black: #2A2A2A;
$color-gray-1: #4F4F4F;
$color-gray-2: #828282;
$color-blue: #4285F4;
$nas-background: url('../img/1.png') #F2F2F2;
body {
    background-size: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 800px;
    color: $color-black;
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.content {
    padding-bottom: 180px;
}

footer {
    background: $nas-background;
    background-size: 160px;
    border-top: 1px solid #E0E0E0;
    bottom: 0;
    color: #828282;
    font-size: 14px;
    height: 80px;
    left: 0;
    position: absolute;
    width: 100%;
}

header {
    background: $nas-background;
    background-size: 150px;
    width: 100%;
    padding: 0 40px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 100px;
    nav {
        padding-top: 10px;
        #logo {
            color: $color-blue;
            font-size: 22px;
            padding: 15px;
            &:hover {
                background-color: transparent;
                border-color: transparent;
            }
            i {
                background: url('../img/logo.png');
                background-size: 47px;
                width: 48px;
                height: 47px;
            }
        }
        a {
            border-bottom: 2px solid transparent;
            padding: 26px 15px;
            color: $color-gray-2;
            text-decoration: none;
            margin-right: 30px;
            &:hover,
            &.active {
                border-color: $color-blue;
                color: $color-blue;
                text-decoration: none;
            }
        }
        .account {
            padding: 15px;
            margin-right: 0;
            font-size: 18px;
            i {
                color: $color-blue;
                font-size: 26px;
            }
            span {
                font-size: 14px;
                color: $color-blue;
                margin-left: 10px;
            }
            [data-id=account-wallet] {
                font-size: 13px;
                color: $color-gray-2;
            }
            &:hover {
                text-decoration: none;
                border-color: transparent;
            }
        }
        i {
            margin-right: 10px;
        }
    }
    .info {
        margin-top: 40px;
        margin-bottom: 60px;
        font-size: 26px;
        color: $color-gray-1;
        span {
            font-size: 14px;
            color: $color-gray-2;
        }
        button {
            background-color: $color-blue;
            border-color: $color-blue;
            border-radius: 0;
            font-weight: 200;
            margin-top: 20px;
            padding: 8px 25px;
        }
    }
}

main {
    margin-top: 50px;
    width: 960px;
    .blocks {
        margin-top: 50px;
    }
    .block {
        font-size: 14px;
        background-color: #F2F2F2;
        border: 1px solid #E0E0E0;
        width: 290px;
        min-height: 310px;
        .header-1 {
            background: url('../img/network.png') no-repeat center #E9E9E9;
            height: 88px;
        }
        .header-2 {
            background: url('../img/user.png') no-repeat center #E9E9E9;
            height: 88px;
        }
        .header-3 {
            background: url('../img/wallet.png') no-repeat center #E9E9E9;
            height: 88px;
        }
        .header-4 {
            background: url('../img/contacts.png') no-repeat center #E9E9E9;
            height: 88px;
        }
        .header-5 {
            background: url('../img/like.png') no-repeat center #E9E9E9;
            height: 88px;
        }
        .header-6 {
            background: url('../img/secure.png') no-repeat center #E9E9E9;
            height: 88px;
        }
        .content {
            color: $color-gray-1;
            padding: 20px;
            .title {
                font-size: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .wallet-profile {
        margin-top: 100px;
    }
}

#editProfileModal {
    .modal {
        &-header {
            background-color: #E9E9E9;
            border-bottom: 1px solid #E0E0E0;
            font-size: 18px;
            color: $color-gray-1;
            .modal-title {
                width: 100%;
            }
            .img {
                background: url('../img/wallet.png') no-repeat center #E9E9E9;
                background-size: 35px;
                height: 35px;
                width: 35px;
                margin: 0 20px;
            }
            .walletAddress {
                font-size: 12px;
            }
        }
        &-desc {
            background-color: #E9E9E9;
            font-size: 12px;
            color: #7B8F9A;
            padding: 7px 0;
            margin-bottom: 30px;
            &>i {
                margin-right: 10px;
                font-size: 18px;
            }
        }
        &-content {
            background-color: #F2F2F2; // border-color: #E0E0E0;
            border-radius: 0;
            width: 544px;
            input,
            .input-group-text {
                border-radius: 0 !important;
                font-size: 14px !important;
            }
            .input-group {
                margin-bottom: 10px;
            }
            .input-username {
                position: relative;
                i {
                    position: absolute;
                    right: 20px;
                    top: 14px;
                    font-size: 16px;
                    color: $color-blue;
                    z-index: 10;
                }
            }
            .fields {
                .key {
                    margin-right: 10px;
                }
                .removeItem {
                    margin-left: 10px;
                }
            }
            .add-data {
                font-size: 12px;
                margin-left: .5rem;
                margin-top: 20px;
                color: #7B8F9A;
                #addData {
                    // background-color: #dedede;
                    // border-color: #ced4da;
                    // color: $color-gray-1;
                    margin-right: 20px;
                    padding: 3px 8px;
                }
                i {
                    margin-right: 10px;
                }
                &>i {
                    font-size: 18px;
                }
            }
            .btn {
                font-size: 14px;
                background-color: $color-blue;
                border-color: $color-blue;
                border-radius: 0 !important;
                font-weight: 200;
                padding: 10px 20px;
            }
        }
    }
}

.wallet-profile {
    background-color: #F2F2F2; // border-color: #E0E0E0;
    border: 1px solid #E0E0E0;
    border-radius: 0;
    width: 544px;
    box-shadow: #2A2A2A;
    .header {
        background-color: #E9E9E9;
        border-bottom: 1px solid #E0E0E0;
        font-size: 18px;
        color: $color-gray-1;
        margin-bottom: 20px;
        padding: 16px;
        .img {
            background: url('../img/logo.png');
            background-size: 47px;
            width: 48px;
            height: 47px;
            margin: 0 15px;
        }
        .editProfile {
            color: #a2a2a2;
            font-size: 13px;
            margin-left: 30px;
            i {
                font-size: 16px;
                margin-right: 10px;
            }
            &:hover {
                text-decoration: none;
                color: $color-blue;
            }
        }
        .hidden {
            display: none !important;
        }
        .username {
            font-size: 16px;
            font-weight: 200;
            color: $color-blue;
            margin-right: 10px;
        }
    }
    .body {
        font-size: 18px;
        font-weight: 200;
        padding: 16px;
        .data-item {
            margin-bottom: 15px;
            margin-left: 20px;
            .key {
                margin-right: 20px;
            }
        }
        .wallet {
            .img {
                background: url('../img/wallet.png') no-repeat center;
                background-size: 23px;
                height: 23px;
                width: 23px;
                margin-right: 20px;
            }
        }
        .name,
        .email {
            .fal {
                margin-right: 20px;
                color: $color-blue;
                font-size: 22px;
            }
        }
    }
    .footer {
        padding: 16px;
        button {
            padding: 10px 30px;
            i {
                margin-right: 10px;
                font-size: 16px;
            }
        }
    }
    .btn {
        font-size: 14px;
        background-color: $color-blue;
        border-color: $color-blue;
        border-radius: 0 !important;
        font-weight: 200;
        padding: 10px 20px;
    }
}