@import "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,800";
@import url(../static/fontawesome/fontawesome-all.min.css);
.error {
  background-color: #ffbaba; }

.error div {
  padding: 10px; }

.error a {
  color: #dc3545; }

body {
  background-size: 160px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-width: 800px;
  color: #2A2A2A; }

header {
  background: url("../img/1.png") #F2F2F2;
  background-size: 150px;
  width: 100%;
  padding: 0 40px;
  border-bottom: 1px solid #E0E0E0; }
  header nav {
    padding-top: 10px; }
    header nav #logo {
      color: #4285F4;
      font-size: 22px;
      padding: 15px; }
      header nav #logo:hover {
        background-color: transparent;
        border-color: transparent; }
      header nav #logo i {
        background: url("../img/logo.png");
        background-size: 47px;
        width: 48px;
        height: 47px; }
    header nav a {
      border-bottom: 2px solid transparent;
      padding: 26px 15px;
      color: #828282;
      text-decoration: none;
      margin-right: 30px; }
      header nav a:hover, header nav a.active {
        border-color: #4285F4;
        color: #4285F4;
        text-decoration: none; }
    header nav .account {
      padding: 15px;
      margin-right: 0;
      font-size: 18px; }
      header nav .account i {
        color: #4285F4;
        font-size: 26px; }
      header nav .account span {
        font-size: 14px;
        color: #4285F4;
        margin-left: 10px; }
      header nav .account [data-id=account-wallet] {
        font-size: 13px;
        color: #828282; }
      header nav .account:hover {
        text-decoration: none;
        border-color: transparent; }
    header nav i {
      margin-right: 10px; }
  header .info {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 26px;
    color: #4F4F4F; }
    header .info span {
      font-size: 14px;
      color: #828282; }
    header .info button {
      background-color: #4285F4;
      border-color: #4285F4;
      border-radius: 0;
      font-weight: 200;
      margin-top: 20px;
      padding: 8px 25px; }

main {
  margin-top: 50px;
  width: 960px; }
  main .blocks {
    margin-top: 50px; }
  main .block {
    font-size: 14px;
    background-color: #F2F2F2;
    border: 1px solid #E0E0E0;
    width: 290px;
    min-height: 310px; }
    main .block .header-1 {
      background: url("../img/network.png") no-repeat center #E9E9E9;
      height: 88px; }
    main .block .header-2 {
      background: url("../img/user.png") no-repeat center #E9E9E9;
      height: 88px; }
    main .block .header-3 {
      background: url("../img/wallet.png") no-repeat center #E9E9E9;
      height: 88px; }
    main .block .header-4 {
      background: url("../img/contacts.png") no-repeat center #E9E9E9;
      height: 88px; }
    main .block .header-5 {
      background: url("../img/like.png") no-repeat center #E9E9E9;
      height: 88px; }
    main .block .header-6 {
      background: url("../img/secure.png") no-repeat center #E9E9E9;
      height: 88px; }
    main .block .content {
      color: #4F4F4F;
      padding: 20px; }
      main .block .content .title {
        font-size: 20px;
        margin-bottom: 20px; }
  main .wallet-profile {
    margin-top: 100px; }

footer {
  background-size: 160px;
  height: 150px;
  margin-top: 150px;
  position: relative;
  bottom: 0;
  width: 100%; }

#editProfileModal .modal-header {
  background-color: #E9E9E9;
  border-bottom: 1px solid #E0E0E0;
  font-size: 18px;
  color: #4F4F4F; }
  #editProfileModal .modal-header .modal-title {
    width: 100%; }
  #editProfileModal .modal-header .img {
    background: url("../img/wallet.png") no-repeat center #E9E9E9;
    background-size: 35px;
    height: 35px;
    width: 35px;
    margin: 0 20px; }
  #editProfileModal .modal-header .walletAddress {
    font-size: 12px; }
#editProfileModal .modal-desc {
  background-color: #E9E9E9;
  font-size: 12px;
  color: #7B8F9A;
  padding: 7px 0;
  margin-bottom: 30px; }
  #editProfileModal .modal-desc > i {
    margin-right: 10px;
    font-size: 18px; }
#editProfileModal .modal-content {
  background-color: #F2F2F2;
  border-radius: 0;
  width: 544px; }
  #editProfileModal .modal-content input,
  #editProfileModal .modal-content .input-group-text {
    border-radius: 0 !important;
    font-size: 14px !important; }
  #editProfileModal .modal-content .input-group {
    margin-bottom: 10px; }
  #editProfileModal .modal-content .input-username {
    position: relative; }
    #editProfileModal .modal-content .input-username i {
      position: absolute;
      right: 20px;
      top: 14px;
      font-size: 16px;
      color: #4285F4;
      z-index: 10; }
  #editProfileModal .modal-content .fields .key {
    margin-right: 10px; }
  #editProfileModal .modal-content .fields .removeItem {
    margin-left: 10px; }
  #editProfileModal .modal-content .add-data {
    font-size: 12px;
    margin-left: .5rem;
    margin-top: 20px;
    color: #7B8F9A; }
    #editProfileModal .modal-content .add-data #addData {
      margin-right: 20px;
      padding: 3px 8px; }
    #editProfileModal .modal-content .add-data i {
      margin-right: 10px; }
    #editProfileModal .modal-content .add-data > i {
      font-size: 18px; }
  #editProfileModal .modal-content .btn {
    font-size: 14px;
    background-color: #4285F4;
    border-color: #4285F4;
    border-radius: 0 !important;
    font-weight: 200;
    padding: 10px 20px; }

.wallet-profile {
  background-color: #F2F2F2;
  border: 1px solid #E0E0E0;
  border-radius: 0;
  width: 544px;
  box-shadow: #2A2A2A; }
  .wallet-profile .header {
    background-color: #E9E9E9;
    border-bottom: 1px solid #E0E0E0;
    font-size: 18px;
    color: #4F4F4F;
    margin-bottom: 20px;
    padding: 16px; }
    .wallet-profile .header .img {
      background: url("../img/logo.png");
      background-size: 47px;
      width: 48px;
      height: 47px;
      margin: 0 15px; }
    .wallet-profile .header .editProfile {
      color: #a2a2a2;
      font-size: 13px;
      margin-left: 30px; }
      .wallet-profile .header .editProfile i {
        font-size: 16px;
        margin-right: 10px; }
      .wallet-profile .header .editProfile:hover {
        text-decoration: none;
        color: #4285F4; }
    .wallet-profile .header .hidden {
      display: none !important; }
    .wallet-profile .header .username {
      font-size: 16px;
      font-weight: 200;
      color: #4285F4;
      margin-right: 10px; }
  .wallet-profile .body {
    font-size: 18px;
    font-weight: 200;
    padding: 16px; }
    .wallet-profile .body .data-item {
      margin-bottom: 15px;
      margin-left: 20px; }
      .wallet-profile .body .data-item .key {
        margin-right: 20px; }
    .wallet-profile .body .wallet .img {
      background: url("../img/wallet.png") no-repeat center;
      background-size: 23px;
      height: 23px;
      width: 23px;
      margin-right: 20px; }
    .wallet-profile .body .name .fal,
    .wallet-profile .body .email .fal {
      margin-right: 20px;
      color: #4285F4;
      font-size: 22px; }
  .wallet-profile .footer {
    padding: 16px; }
    .wallet-profile .footer button {
      padding: 10px 30px; }
      .wallet-profile .footer button i {
        margin-right: 10px;
        font-size: 16px; }
  .wallet-profile .btn {
    font-size: 14px;
    background-color: #4285F4;
    border-color: #4285F4;
    border-radius: 0 !important;
    font-weight: 200;
    padding: 10px 20px; }

/*# sourceMappingURL=style.css.map */
